.about-us {
    /* width: 60%; */
    /* height: 100vh; */
    margin: auto;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-40%, -20%);
}